.or_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_01.png");
  background-repeat: repeat;
  background-size: 54%;
  overflow: hidden;
  .or_inner{
    padding: 50px 0px;
    .content_title{
      margin-bottom: 50px
    }
  }
  .or_text_content{
    position: relative;
    .bg_content{
      position: absolute;
      height: 116%;
      top: 44%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
    }

    .or_text_inner{
      width: 86.6%;
      max-width: 650px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      p{
        font-size: 17.5px;
        line-height: 2.5;
        color: #000000;
        font-weight: bold;
        text-align: center;
        @media screen and(max-width: 767px) {
          text-align: left;
        }
      }
      .large_text{
        font-size: 26px;
        line-height: 2.3;
        padding-bottom: 50px;
        font-weight: 800;
      }
      .text_add_bottom{
        &__50{
          padding-bottom: 50px;
        }
        &__100{
          padding-bottom: 100px;
        }
      }
    }
  }
}