
.os_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%;
  @media screen and(min-width: 767px) {
    background-size: 20%;
  }
  .os_inner{
    padding: 50px 0px 100px;
    @media screen and(min-width: 767px) {
      padding: 75px 0px 150px;
    }
    .content_title{
      margin-bottom: 50px;
      @media screen and(min-width: 767px) {
        margin-bottom: 75px;
      }
    }
  }

  .card_contents{
    margin-bottom: 100px;
    .card_content{
      .card_title{
        margin-bottom: 15px;
        @media screen and(min-width: 767px) {
          margin-bottom: 22.5px;
        }
        h3{
          font-size: 27px;
          @media screen and(min-width: 767px) {
            font-size: 33.75px;
          }
        }
      }
    }
  }
  .long_card_contents{
    .card_content{
      .card_inner{
        padding: 25px 0px 50px;
        @media screen and(min-width: 767px) {
          padding: 44.75px 0px 75px;
        }
        .card_content_title{
          font-size: 22.5px;
          margin: 5px auto 50px;
          width: 96.6%;
          font-weight: 800;
          @media screen and(min-width: 767px) {
            margin: 7.5px auto 78px;
            font-size: 33.75px;
            letter-spacing: 3.46px;
          }
          span{
            width: 101px;
            display: inline-block;
            @media screen and(min-width: 767px) {
              width: 156px;
            }
            img{
              width: 100%;
            }
          }
        }

        .inner_content{
          margin-bottom: 57.5px;
          @media screen and(min-width: 767px) {
            margin-bottom: 86.25px;
          }
          .card_title{
            margin-bottom: 15px;
            @media screen and(min-width: 767px) {
              margin-bottom: 19px;
            }
            h3{
              font-size: 22.5px;
              @media screen and(min-width: 767px) {
                font-size: 33.75px;
              }
            }
          }
          .card_img{
            margin: 0px;
            box-shadow: 6px 6px 6px #00000029;
          }
        }
        .no-bottom{
          margin-bottom: 0px;
        }
      }
    }
  }
}