
.point_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%;
  @media screen and(min-width: 767px) {
    background-size: 20%;
  }
  .point_inner{
    padding: 50px 0px;
    @media screen and(min-width: 767px) {
      padding: 100px 0px 200px;
    }
    .content_title{
      margin-bottom: 50px;
      @media screen and(min-width: 767px) {
        margin-bottom: 75px;
      }
    }
  }

  .card_contents{
    margin-bottom: 100px;
    display: block;
    @media screen and(min-width: 1399px) {
      margin-bottom: 0px;
      display: flex;
      justify-content: space-evenly;
    }
    .is-pc_no-bottom{
      @media screen and(min-width: 1400px) {
        margin-bottom: 0px
      }
    }
    .card_content{
      @media screen and(min-width: 1400px) {
        width: 27%;
        max-width: 375px;
        margin: 0px
      }
      .card_title{
        h3{
          @media screen and(min-width: 767px) {
            font-size: 36px;
          }
        }
      }
    }
    .color-red-text{
      margin-top: 25px;
      color: #FF0000;
      line-height: 1.9;
      font-size: 14px;
      letter-spacing: 2.16px;
    }
    .is-sp{
      display: block;
      @media screen and(min-width: 1400px) {
        display: none;
      }
    }
  }
  .color-red-text{
    margin-top: 25px;
    color: #FF0000;
    line-height: 1.9;
    font-size: 14px;
    letter-spacing: 2.16px;
    @media screen and(min-width: 1400px) {
      margin-top: 15px;
      font-size: 21.75px;
      text-align: center;
      width: 27%;
      max-width: 375px;
      float: right;
      height: 53px;
      padding-right: 5%;
    }
  }
  .is-pc{
    display: none;
    @media screen and(min-width: 1400px) {
      display: block;
    }
  }
}