.price_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%;
  @media screen and(min-width: 767px) {
    background-size: 20%;
  }
  .price_inner{
    padding: 50px 0px 100px;
    @media screen and(min-width: 767px) {
      padding: 75px 0px 150px;
    }
    .content_title{
      margin-bottom: 50px;
      @media screen and(min-width: 767px) {
        margin-bottom: 75px;
      }
    }
  }

  .price_content{
    margin: 0 auto;
    max-width: 487.5px;
  }
  .add_bottom__100{
    margin-bottom: 100px;
    @media screen and(min-width: 767px) {
      margin-bottom: 150px;
    }
  }
  .min_space{
    margin-bottom: 50px;
    @media screen and(min-width: 767px) {
      margin-bottom: 75px;
    }
  }
  .ink_title{
    width: 92%;
    display: block;
    position: relative;
    height: 43px;
    margin:0 auto 50px;
    max-width: 600px;
    @media screen and(min-width: 767px) {
      margin:0 auto 75px;
      height: 66px;
    }
    h3{
      text-align: center;
      font-size: 22.5px;
      font-weight: 800;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 1;
      @media screen and(min-width: 767px) {
        font-size: 33.75px;
      }
    }
    img{
      width: 100%;
      position: absolute;
      bottom: 0px;
      left:0px;
    }
  }
  .price_image_text{
    text-align: center;
    max-width: 487.5px;
    width: 92.6%;
    display: block;
    margin: 0 auto 43px;
    color: #3C3C3C;
    @media screen and(min-width: 767px) {
      width: 100%;
      font-size: 22.5px;
      margin: 0 auto 64.5px;
    }
    p{
      font-size: 15px;
       line-height: 2.5;
      @media screen and(min-width: 767px) {
        font-size: 22.5px;
      }
    }
  }
  .add_bold{
    font-weight: bold;
  }
  .align-left{
    text-align: left;
  }
  .color-red{
    margin: 43.5px 0px 50px;
    color: #FF0000;
    @media screen and(min-width: 767px) {
      margin: 65.25px 0px 75px;
    }
  }

  .min_width{
    width: 75%;
    max-width: 493px;

    .card_img__w155{
      width: 53.8%;
      max-width: 310px;
      display: block;
      margin: 0 auto 25px;
      @media screen and(min-width: 767px) {
        margin: 0 auto 37.5px;
      }
    &.no-bottom{
      margin-bottom: 0px;
    }
    }
    .color-red-text{
      margin-top: 25px;
      color: #FF0000;
      line-height: 1.9;
      font-size: 14px;
      @media screen and(min-width: 767px) {
        margin-top: 37.5px;
        font-size: 21px;
      }
    }
  }

  .small_font{
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    @media screen and(min-width: 767px) {
      margin-bottom: 30px;
    }
    h2{
      font-size: 20px;
      padding-bottom: 25px;
      font-weight: 800;
      @media screen and(min-width: 767px) {
        font-size: 30px;
        padding-bottom: 37.5px;
      }
    }
    span{
      margin: 0 auto;
      display: block;
      font-weight: bold;
      width: 56px;
      height: 3.5px;
      background-color: #000000;
      @media screen and(min-width: 767px) {
        height: 5.27px;
        width: 84px;
      }
    }
  }

  .add_bottom{
    margin-bottom: 100px;
    @media screen and(min-width: 767px) {
      margin-bottom: 0px;
    }
  }

  .black_bg_text{
    display: block;
    background-color: #000000;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    padding: 3.5px 0px;
    text-align: center;
    margin: 0 auto 25px;
    font-size: 12.5px;
    line-height: 1;
    @media screen and(min-width: 767px) {
      margin: 0 auto 37.5px;
      padding: 5.27px 0px;
      font-size: 18.75px;
    }

  &__w150{
    width: 150px;
    @media screen and(min-width: 767px) {
      width: 225px;
    }
  }
  &__w175{
    width: 175px;
    @media screen and(min-width: 767px) {
      width: 262.5px;
    }
  }
  }

  .price_text{
    text-align: center;
    font-weight: bold;
    color: #000000!important;
    margin-bottom: 21.5px!important;
    font-size: 38.5px!important;
    @media screen and(min-width: 767px) {
      margin-bottom: 33.75px!important;
      font-size: 57.75px!important;
    }
  }

  .price_list{
    li{
      color: #3C3C3C;
      font-size: 12.5px;
      line-height: 2.2;
      @media screen and(min-width: 767px) {
        font-size: 18px;
      }
    }
  }
  .plus_img{
    width: 9%;
    max-width: 51px;
    margin: 0 auto 57.5px;
    display: block;
    @media screen and(min-width: 767px) {
      margin: 0 auto 86.25px;
    }
  }
}