.top_wrapper{
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 64.91px;
  @media screen and(max-width: 767px) {
    margin-top: 0px;
  }
  img{
    width: 100%;
  }
  .top_inner{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    display: none;
    @media screen and(max-width: 767px) {
      display: block;
    }
  }
}