
.uv_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_01.png");
  background-repeat: repeat;
  background-size: 54%;
  @media screen and(min-width: 767px) {
    background-size: 20%;
  }
  .uv_inner{
    padding: 50px 0px 100px;
    @media screen and(min-width: 767px) {
      padding: 75px 0px 150px;
    }
    .content_title{
      margin-bottom: 50px;
      @media screen and(min-width: 767px) {
        margin-bottom: 75px;
      }
    }
  }

  .card_contents{
    .card_content{
      box-shadow: none;
      .user_name{
        margin-bottom: 21.5px;
        font-size: 20px;
        text-align: center;
        line-height: 1;
        font-weight: bold;
        @media screen and(min-width: 767px) {
          font-size: 30px;
          margin-bottom: 22.5px;
        }
      }
      .card_title{
        height: 86.5px;
        margin-bottom: 15px;
        @media screen and(min-width: 767px) {
          margin-bottom: 22.5px;
          height: 133px;
        }
        h3{
          font-size: 22.5px;
          line-height: 1.7;
          @media screen and(min-width: 767px) {
            font-size: 33.75px;
          }
        }
      }
      .card_img{
        margin-bottom: 19.75px;
        @media screen and(min-width: 767px) {
          margin-bottom: 22.5px;
        }
      }
    }
  }
}