.wwd_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%;
  overflow: hidden;
  .wwd_inner{
    padding: 50px 0px 100px;
    @media screen and(min-width: 767px) {
      padding: 100px 0px 200px;
    }
    .content_title{
      margin-bottom: 100px;
      @media screen and(min-width: 767px) {
        margin-bottom: 200px;
      }
    }
  }
  .wwd_text_content{
    position: relative;
    .bg_content{
      position: absolute;
      height: 128%;
      top: 52%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
    }

    .wwd_text_inner{
      width: 86.6%;
      max-width: 650px;
      margin: 0 auto 44px;
      position: relative;
      z-index: 2;
      @media screen and(min-width: 767px) {
        margin: 0 auto 88px;
      }
      p{
        font-size: 17.5px;
        line-height: 2.5;
        color: #000000;
        font-weight: bold;
        text-align: left;
        @media screen and(min-width: 767px) {
          text-align: center;
          font-size: 32px;
        }
      }
      .midium_text{
        font-size: 22.5px;
        line-height: 2.2;
        @media screen and(min-width: 767px) {
          font-size: 45px;
        }
        span{
          width: 25.53%;
          display: inline-block;
          max-width: 191.49px;
          img{
            width: 100%;
          }
        }
      }
      .text_add_bottom{

        &__48{
          padding-bottom: 48px;
        }

        &__50{
          padding-bottom: 50px;
        }
      }
      .font-bold{
        font-weight: 800;
      }
    }
  }

  .bottom_arrow{
    img{
      display: block;
      margin: 0 auto;
      width: 9.2%;
      max-width: 69.67px;
    }
  }
  .card_contents{
    margin: 50px 0px 100px;
    display: block;
    @media screen and(min-width: 1400px) {
      margin: 100px 0px 200px;
      display: flex;
    }
    .is-pc_no-bottom{
      @media screen and(min-width: 1400px) {
        margin-bottom: 0px
      }
    }
    .card_content__noink{
      @media screen and(min-width: 1400px) {
        width: 30%;
        max-width: 600px;
      }
      .card_title{
        h3{
          @media screen and(min-width: 767px) {
            font-size: 36px;
          }
          @media screen and(min-width: 1500px) {
            font-size: 41px;
          }
        }
      }
    }
  }
  .attention_card{
    width: 92.3%;
    max-width: 650px;
    background-color: #F9F9F9;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    @media screen and(min-width: 1400px) {
      background-color: transparent;
    }

    .attend_inner{
      width: 92.3%;
      margin: 0 auto 100px;
      padding: 25px 0px 52.5px;
      @media screen and(min-width: 1400px) {
        margin: 0 auto 200px;
        padding: 38px 0px 95px;
      }

      .font-red{
        font-size: 22.5px;
        color: #FF0000;
        padding-bottom: 50px;
        line-height: 1.7;
        text-align: center;
        font-weight: 800;
        @media screen and(min-width: 767px) {
          font-size: 45px;
          padding-bottom: 92px;
        }
      }
      .detail_text{
        font-size: 14px;
        color: #3C3C3C;
        line-height: 1.8;
        width: 96.6%;
        margin: 0 auto;
        display: block;
        @media screen and(min-width: 767px) {
          font-size: 28px;
        }
      }
    }
  }
  .comparison_img{
    width: 92.3%;
    max-width: 650px;
    margin: 0 auto;
    display: block;
  }
}