.wwd_wrapper{
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%;
  overflow: hidden;
  @media screen and(min-width: 767px) {
    background-size: 20%;
  }
  .wwd_inner{
    padding: 50px 0px 100px;
    @media screen and(min-width: 767px) {
      padding: 75px 0px 150px;
    }
    .content_title{
      margin-bottom: 100px;
      @media screen and(min-width: 767px) {
        margin-bottom: 150px;
      }
    }
  }
  .wwd_text_content{
    position: relative;
    .bg_content{
      position: absolute;
      height: 128%;
      top: 52%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      display: block;
      @media screen and(min-width: 767px) {
        display: none;
      }
    }

    .wwd_text_inner{
      width: 86.6%;
      max-width: 650px;
      margin: 0 auto 44px;
      position: relative;
      z-index: 2;
      @media screen and(min-width: 767px) {
        margin: 0 auto 66px;
      }
      p{
        font-size: 17.5px;
        line-height: 2.5;
        color: #000000;
        font-weight: bold;
        text-align: left;
        @media screen and(min-width: 767px) {
          text-align: center;
          font-size: 24px;
        }
      }
      .midium_text{
        font-size: 22.5px;
        line-height: 2.2;
        @media screen and(min-width: 767px) {
          font-size: 41.25px;
        }
        span{
          width: 25.53%;
          display: inline-block;
          max-width: 143.61px;
          img{
            width: 100%;
          }
        }
      }
      .text_add_bottom{

        &__48{
          padding-bottom: 48px;
        }

        &__50{
          padding-bottom: 50px;
        }
      }
      .font-bold{
        font-weight: 800;
      }
    }
  }

  .bottom_arrow{
    img{
      display: block;
      margin: 0 auto;
      width: 9.2%;
      max-width: 52.25px;
    }
  }
  .card_contents{
    margin: 50px 0px 100px;
    display: block;
    @media screen and(min-width: 1400px) {
      margin: 75px 0px 150px;
      display: flex;
      justify-content: space-evenly;
    }
    .is-pc_no-bottom{
      @media screen and(min-width: 1400px) {
        margin-bottom: 0px
      }
    }
    .card_content__noink{
      @media screen and(min-width: 1400px) {
        width: 27%;
        max-width: 375px;
        margin: 0px;
      }
      .card_title{
        h3{
          @media screen and(min-width: 767px) {
            font-size: 30.75px;
          }
        }
      }
    }
  }
  .attention_card{
    width: 92.3%;
    max-width: 650px;
    background-color: #F9F9F9;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    @media screen and(min-width: 1400px) {
      background-color: transparent;
    }

    .attend_inner{
      width: 92.3%;
      margin: 0 auto 100px;
      padding: 25px 0px 52.5px;
      @media screen and(min-width: 1400px) {
        margin: 0 auto 150px;
        padding: 0px;
      }

      .font-red{
        font-size: 22.5px;
        color: #FF0000;
        padding-bottom: 25px;
        line-height: 1.7;
        text-align: center;
        font-weight: 800;
        letter-spacing: 3.46px;
        @media screen and(min-width: 767px) {
          font-size: 33.75px;
          padding-bottom: 37.5px;
        }
      }
      .detail_text{
        font-size: 14px;
        color: #3C3C3C;
        line-height: 1.8;
        width: 96.6%;
        margin: 0 auto;
        display: block;
        letter-spacing: 2.46px;
        @media screen and(min-width: 767px) {
          width: 72%;
          font-size: 21px;
          text-align: center;
          line-height: 2.6;
        }
      }
    }
  }
  .comparison_img{
    width: 92.3%;
    max-width: 650px;
    margin: 0 auto;
    display: block;
  }
}