header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98; }
  header .header_inner {
    background-color: #ED393B;
    box-shadow: 6px 6px 6px #00000029;
    padding: 7px 0px;
    width: 100%; }
  header .header__top {
    margin: 0 auto;
    display: block;
    background-color: #FFFFFF;
    font-weight: bold;
    width: 123px;
    font-size: 10px;
    text-align: center;
    color: #ED393B;
    padding: 7.5px 0px 7.5px 0px;
    border-radius: 55px; }
  header .header__bottom {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold; }
    header .header__bottom span {
      display: block;
      width: 75.58px;
      padding-right: 7.4px; }
      header .header__bottom span img {
        width: 100%; }
  header .block_sp {
    display: block; }
    @media screen and (min-width: 767px) {
      header .block_sp {
        display: none; } }
  header .header_pc {
    display: none;
    justify-content: left;
    align-items: center;
    background-color: #ffffff;
    padding: 19.5px 0px 19.5px 7%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    box-shadow: 6px 6px 6px #00000029; }
    @media screen and (min-width: 767px) {
      header .header_pc {
        display: flex; } }
    header .header_pc .header_logo {
      display: block;
      margin-right: 5%;
      max-width: 152px;
      width: 7%; }
      header .header_pc .header_logo img {
        width: 100%; }
    header .header_pc a {
      font-weight: bold;
      font-size: 16.75px;
      margin-right: 5%; }
      header .header_pc a:last-child {
        margin-right: 0px; }

#js-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #FFD900;
  display: none;
  cursor: pointer;
  z-index: 100;
  border-radius: 50px;
  right: 18px;
  top: 90px; }
  @media screen and (max-width: 767px) {
    #js-btn {
      display: block; } }
  #js-btn .inner_line {
    display: block;
    position: absolute;
    left: 15.5px;
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    transition: .5s; }
  #js-btn #line1 {
    top: 18.5px; }
  #js-btn #line2 {
    top: 23.5px; }
  #js-btn #line3 {
    top: 28.5px; }

#nav {
  transition: .5s;
  width: 100%;
  background-color: #ffffff;
  height: 100vh;
  z-index: 99;
  position: fixed;
  display: block;
  transform: translateX(100%); }
  #nav .links {
    display: block; }
    #nav .links a {
      display: block;
      margin: 0 auto 37.8px; }
      #nav .links a:last-child {
        margin-bottom: 0px; }
  #nav ul {
    transition: transform .5s .1s;
    margin-bottom: 37.8px;
    padding-top: 110px; }
    #nav ul .header_logo {
      width: 125.73px;
      display: block;
      margin: 0px 0px 46px 8%; }
      #nav ul .header_logo img {
        width: 100%; }
    #nav ul p {
      font-size: 20px;
      padding-bottom: 20px;
      padding-left: 8%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      font-weight: bold; }
    #nav ul li {
      margin: 0 auto;
      width: 100%;
      display: inline-flex;
      position: relative; }
      #nav ul li a {
        padding: 18px 8%;
        color: #000000;
        cursor: pointer;
        font-size: 14px;
        display: block;
        width: 100%;
        font-weight: bold; }
      #nav ul li::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 24px;
        top: 12px;
        right: 21px;
        background-image: url("../assets/img/default/arrow.png"); }
    #nav ul a:hover {
      background-color: rgba(255, 231, 115, 0.6); }

.is-active #js-btn #line1 {
  transform: rotate(-45deg);
  top: 24px !important; }

.is-active #js-btn #line2 {
  opacity: 0; }

.is-active #js-btn #line3 {
  transform: rotate(45deg);
  top: 24px !important; }

.is-active #nav {
  transform: translateX(0px); }

footer {
  width: 100%;
  background-color: #000000; }
  footer .footer_inner {
    padding: 29.25px 0px;
    width: 86.6%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end; }
    @media screen and (max-width: 767px) {
      footer .footer_inner {
        display: block;
        padding: 17px 0px; } }
    footer .footer_inner .footer_logo {
      max-width: 114px;
      width: 23%;
      margin-right: 75px;
      margin-bottom: 0px; }
      @media screen and (max-width: 767px) {
        footer .footer_inner .footer_logo {
          margin-right: 0px;
          margin-bottom: 16.5px; } }
    footer .footer_inner .footer_nav {
      display: flex; }
      @media screen and (max-width: 767px) {
        footer .footer_inner .footer_nav {
          display: block; } }
      footer .footer_inner .footer_nav li {
        display: block;
        margin-bottom: 5px;
        margin-right: 75px; }
        @media screen and (max-width: 767px) {
          footer .footer_inner .footer_nav li {
            margin-right: 0px;
            margin-bottom: 17px; } }
        footer .footer_inner .footer_nav li a {
          font-size: 15px;
          color: #ffffff; }
          @media screen and (max-width: 767px) {
            footer .footer_inner .footer_nav li a {
              font-size: 10px; } }
        footer .footer_inner .footer_nav li:last-child {
          margin-right: 0px;
          margin-bottom: 0px; }

.content_title {
  color: #000000;
  text-align: center; }
  .content_title h2 {
    font-size: 25px;
    padding-bottom: 13px;
    font-weight: 800;
    letter-spacing: 3.85px; }
    @media screen and (min-width: 767px) {
      .content_title h2 {
        font-size: 37.5px;
        padding-bottom: 12.75px; } }
  .content_title p {
    font-size: 15px;
    padding-bottom: 50px;
    font-weight: bold;
    letter-spacing: 2.31px; }
    @media screen and (min-width: 767px) {
      .content_title p {
        font-size: 22.5px;
        padding-bottom: 71.6px; } }
  .content_title span {
    margin: 0 auto;
    display: block;
    font-weight: bold;
    width: 56px;
    height: 3.5px;
    background-color: #000000; }
    @media screen and (min-width: 767px) {
      .content_title span {
        height: 5.25px;
        width: 84px; } }

.card_content {
  margin: 0 auto;
  width: 92.6%;
  max-width: 487.5px;
  background-color: #F9F9F9;
  box-shadow: 6px 6px 6px #00000029;
  border-radius: 50px;
  margin-bottom: 50px; }
  @media screen and (min-width: 767px) {
    .card_content {
      width: 100%;
      margin-bottom: 75px; } }
  .card_content .card_inner {
    width: 92.3%;
    margin: 0 auto;
    padding: 25px 0px 25px; }
    @media screen and (min-width: 767px) {
      .card_content .card_inner {
        padding: 37.5px 0px 37.5px; } }
    .card_content .card_inner .card_title {
      width: 100%;
      display: block;
      position: relative;
      height: 43px;
      margin-bottom: 25px; }
      @media screen and (min-width: 767px) {
        .card_content .card_inner .card_title {
          height: 60px;
          margin-bottom: 25.6px; } }
      .card_content .card_inner .card_title h3 {
        text-align: center;
        font-size: 27.5px;
        font-weight: 800;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 1; }
        @media screen and (min-width: 767px) {
          .card_content .card_inner .card_title h3 {
            font-size: 41.25; } }
      .card_content .card_inner .card_title img {
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 0px; }
    .card_content .card_inner .min_font-size {
      margin-bottom: 26.5px; }
      .card_content .card_inner .min_font-size h3 {
        line-height: 1.4; }
    .card_content .card_inner .card_img {
      width: 100%;
      margin-bottom: 25px; }
      @media screen and (min-width: 767px) {
        .card_content .card_inner .card_img {
          margin-bottom: 37.5px; } }
    .card_content .card_inner p {
      font-size: 15px;
      line-height: 1.8;
      color: #3C3C3C;
      display: block;
      width: 96.6%;
      margin: 0 auto;
      letter-spacing: 2.16px; }
      @media screen and (min-width: 767px) {
        .card_content .card_inner p {
          font-size: 21px; } }

.card_content__noink {
  margin: 0 auto;
  width: 92.6%;
  max-width: 487.5px;
  background-color: #F9F9F9;
  box-shadow: 6px 6px 6px #00000029;
  border-radius: 50px;
  margin-bottom: 50px; }
  @media screen and (min-width: 767px) {
    .card_content__noink {
      width: 100%;
      margin-bottom: 70px; } }
  .card_content__noink .card_inner {
    width: 92.3%;
    margin: 0 auto;
    padding: 25px 0px 25px; }
    @media screen and (min-width: 767px) {
      .card_content__noink .card_inner {
        padding: 37.5px 0px 37.5px; } }
    .card_content__noink .card_inner .card_title {
      width: 100%;
      display: block;
      margin-bottom: 25px; }
      @media screen and (min-width: 767px) {
        .card_content__noink .card_inner .card_title {
          margin-bottom: 37.5px; } }
      .card_content__noink .card_inner .card_title h3 {
        text-align: center;
        font-size: 22.5px;
        line-height: 1.7;
        font-weight: 800; }
        @media screen and (min-width: 767px) {
          .card_content__noink .card_inner .card_title h3 {
            font-size: 45px; } }
    .card_content__noink .card_inner .card_img {
      width: 100%;
      margin-bottom: 25px; }
      @media screen and (min-width: 767px) {
        .card_content__noink .card_inner .card_img {
          margin-bottom: 37.5px; } }
    .card_content__noink .card_inner p {
      font-size: 15px;
      line-height: 1.8;
      color: #3C3C3C;
      display: block;
      width: 96.6%;
      margin: 0 auto;
      letter-spacing: 2.16px; }
      @media screen and (min-width: 767px) {
        .card_content__noink .card_inner p {
          font-size: 21px; } }

.no-bottom {
  margin-bottom: 0px; }

.contact_button {
  font-size: 23px;
  display: block;
  width: 305px;
  text-align: center;
  max-width: 610px;
  border-radius: 55px;
  padding: 10px 0px;
  margin: 0 auto;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer; }
  @media screen and (min-width: 767px) {
    .contact_button {
      font-size: 45.75px;
      width: 531.75px; } }
  .contact_button__color-red {
    border: 2px solid #ED393B;
    background-color: #ED393B;
    transition: .3s; }
    .contact_button__color-red:hover {
      background-color: #ffffff;
      color: #ED393B; }
    @media screen and (min-width: 767px) {
      .contact_button__color-red {
        display: none; } }
  .contact_button__color-red_pc {
    border: 2px solid #ED393B;
    background-color: #ED393B;
    transition: .3s;
    position: fixed;
    z-index: 4;
    display: none;
    left: 50%;
    bottom: 9.5%;
    transform: translateX(-50%);
    box-shadow: 6px 6px 6px #00000029;
    font-weight: 400;
    letter-spacing: 5.93px;
    width: 342.75px;
    text-align: center;
    font-size: 25.5px;
    line-height: 1;
    font-weight: bold; }
    .contact_button__color-red_pc:hover {
      background-color: #ffffff;
      color: #ED393B; }
    @media screen and (min-width: 767px) {
      .contact_button__color-red_pc {
        display: block; } }
  .contact_button__color-black {
    border: 2px solid #000000;
    background-color: #000000;
    transition: .3s; }
    .contact_button__color-black:hover {
      background-color: #ffffff;
      color: #000000; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans JP', sans-serif; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: black;
  text-decoration: none; }

.faq_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_01.png");
  background-repeat: repeat;
  background-size: 54%; }
  @media screen and (min-width: 767px) {
    .faq_wrapper {
      background-size: 20%; } }
  .faq_wrapper .faq_inner {
    padding: 45px 0px 100px;
    width: 86%;
    max-width: 650px;
    margin: 0 auto; }
    @media screen and (min-width: 767px) {
      .faq_wrapper .faq_inner {
        padding: 67.5px 0px 150px; } }
    .faq_wrapper .faq_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .faq_wrapper .faq_inner .content_title {
          margin-bottom: 75px; } }
  .faq_wrapper .faq_contents .faq_content {
    position: relative;
    max-width: 487.5px;
    background-color: #F9F9F9;
    border-radius: 50px;
    margin: 0 auto 67px; }
    @media screen and (min-width: 767px) {
      .faq_wrapper .faq_contents .faq_content {
        margin: 0 auto 100px; } }
  .faq_wrapper .faq_contents .no-bottom {
    margin-bottom: 0px; }
  .faq_wrapper .faq_contents .faq_number {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27.5px;
    font-weight: 800; }
    @media screen and (min-width: 767px) {
      .faq_wrapper .faq_contents .faq_number {
        font-size: 41.25px; } }
  .faq_wrapper .faq_contents .faq_content_inner {
    width: 76%;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px 0px 50px; }
    @media screen and (min-width: 767px) {
      .faq_wrapper .faq_contents .faq_content_inner {
        padding: 64.5px 0px 56.25px; } }
    .faq_wrapper .faq_contents .faq_content_inner .faq_title {
      font-size: 15px;
      padding-bottom: 25px;
      line-height: 2.1;
      text-align: center;
      font-weight: bold; }
      @media screen and (min-width: 767px) {
        .faq_wrapper .faq_contents .faq_content_inner .faq_title {
          font-size: 22.5px;
          padding-bottom: 37.5px; } }
    .faq_wrapper .faq_contents .faq_content_inner span {
      width: 100%;
      display: block;
      height: 0.5px;
      background-color: #000000;
      margin-bottom: 25px; }
      @media screen and (min-width: 767px) {
        .faq_wrapper .faq_contents .faq_content_inner span {
          height: 1px;
          margin-bottom: 37.5px; } }
    .faq_wrapper .faq_contents .faq_content_inner .faq_detail {
      font-size: 12.5px;
      color: #3C3C3C;
      line-height: 2.1; }
      @media screen and (min-width: 767px) {
        .faq_wrapper .faq_contents .faq_content_inner .faq_detail {
          font-size: 18.75px; } }

.price_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%; }
  @media screen and (min-width: 767px) {
    .price_wrapper {
      background-size: 20%; } }
  .price_wrapper .price_inner {
    padding: 50px 0px 100px; }
    @media screen and (min-width: 767px) {
      .price_wrapper .price_inner {
        padding: 75px 0px 150px; } }
    .price_wrapper .price_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .price_wrapper .price_inner .content_title {
          margin-bottom: 75px; } }
  .price_wrapper .price_content {
    margin: 0 auto;
    max-width: 487.5px; }
  .price_wrapper .add_bottom__100 {
    margin-bottom: 100px; }
    @media screen and (min-width: 767px) {
      .price_wrapper .add_bottom__100 {
        margin-bottom: 150px; } }
  .price_wrapper .min_space {
    margin-bottom: 50px; }
    @media screen and (min-width: 767px) {
      .price_wrapper .min_space {
        margin-bottom: 75px; } }
  .price_wrapper .ink_title {
    width: 92%;
    display: block;
    position: relative;
    height: 43px;
    margin: 0 auto 50px;
    max-width: 600px; }
    @media screen and (min-width: 767px) {
      .price_wrapper .ink_title {
        margin: 0 auto 75px;
        height: 66px; } }
    .price_wrapper .ink_title h3 {
      text-align: center;
      font-size: 22.5px;
      font-weight: 800;
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      z-index: 1; }
      @media screen and (min-width: 767px) {
        .price_wrapper .ink_title h3 {
          font-size: 33.75px; } }
    .price_wrapper .ink_title img {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px; }
  .price_wrapper .price_image_text {
    text-align: center;
    max-width: 487.5px;
    width: 92.6%;
    display: block;
    margin: 0 auto 43px;
    color: #3C3C3C; }
    @media screen and (min-width: 767px) {
      .price_wrapper .price_image_text {
        width: 100%;
        font-size: 22.5px;
        margin: 0 auto 64.5px; } }
    .price_wrapper .price_image_text p {
      font-size: 15px;
      line-height: 2.5; }
      @media screen and (min-width: 767px) {
        .price_wrapper .price_image_text p {
          font-size: 22.5px; } }
  .price_wrapper .add_bold {
    font-weight: bold; }
  .price_wrapper .align-left {
    text-align: left; }
  .price_wrapper .color-red {
    margin: 43.5px 0px 50px;
    color: #FF0000; }
    @media screen and (min-width: 767px) {
      .price_wrapper .color-red {
        margin: 65.25px 0px 75px; } }
  .price_wrapper .min_width {
    width: 75%;
    max-width: 493px; }
    .price_wrapper .min_width .card_img__w155 {
      width: 53.8%;
      max-width: 310px;
      display: block;
      margin: 0 auto 25px; }
      @media screen and (min-width: 767px) {
        .price_wrapper .min_width .card_img__w155 {
          margin: 0 auto 37.5px; } }
      .price_wrapper .min_width .card_img__w155.no-bottom {
        margin-bottom: 0px; }
    .price_wrapper .min_width .color-red-text {
      margin-top: 25px;
      color: #FF0000;
      line-height: 1.9;
      font-size: 14px; }
      @media screen and (min-width: 767px) {
        .price_wrapper .min_width .color-red-text {
          margin-top: 37.5px;
          font-size: 21px; } }
  .price_wrapper .small_font {
    color: #000000;
    text-align: center;
    margin-bottom: 25px; }
    @media screen and (min-width: 767px) {
      .price_wrapper .small_font {
        margin-bottom: 30px; } }
    .price_wrapper .small_font h2 {
      font-size: 20px;
      padding-bottom: 25px;
      font-weight: 800; }
      @media screen and (min-width: 767px) {
        .price_wrapper .small_font h2 {
          font-size: 30px;
          padding-bottom: 37.5px; } }
    .price_wrapper .small_font span {
      margin: 0 auto;
      display: block;
      font-weight: bold;
      width: 56px;
      height: 3.5px;
      background-color: #000000; }
      @media screen and (min-width: 767px) {
        .price_wrapper .small_font span {
          height: 5.27px;
          width: 84px; } }
  .price_wrapper .add_bottom {
    margin-bottom: 100px; }
    @media screen and (min-width: 767px) {
      .price_wrapper .add_bottom {
        margin-bottom: 0px; } }
  .price_wrapper .black_bg_text {
    display: block;
    background-color: #000000;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    padding: 3.5px 0px;
    text-align: center;
    margin: 0 auto 25px;
    font-size: 12.5px;
    line-height: 1; }
    @media screen and (min-width: 767px) {
      .price_wrapper .black_bg_text {
        margin: 0 auto 37.5px;
        padding: 5.27px 0px;
        font-size: 18.75px; } }
    .price_wrapper .black_bg_text__w150 {
      width: 150px; }
      @media screen and (min-width: 767px) {
        .price_wrapper .black_bg_text__w150 {
          width: 225px; } }
    .price_wrapper .black_bg_text__w175 {
      width: 175px; }
      @media screen and (min-width: 767px) {
        .price_wrapper .black_bg_text__w175 {
          width: 262.5px; } }
  .price_wrapper .price_text {
    text-align: center;
    font-weight: bold;
    color: #000000 !important;
    margin-bottom: 21.5px !important;
    font-size: 38.5px !important; }
    @media screen and (min-width: 767px) {
      .price_wrapper .price_text {
        margin-bottom: 33.75px !important;
        font-size: 57.75px !important; } }
  .price_wrapper .price_list li {
    color: #3C3C3C;
    font-size: 12.5px;
    line-height: 2.2; }
    @media screen and (min-width: 767px) {
      .price_wrapper .price_list li {
        font-size: 18px; } }
  .price_wrapper .plus_img {
    width: 9%;
    max-width: 51px;
    margin: 0 auto 57.5px;
    display: block; }
    @media screen and (min-width: 767px) {
      .price_wrapper .plus_img {
        margin: 0 auto 86.25px; } }

.uv_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_01.png");
  background-repeat: repeat;
  background-size: 54%; }
  @media screen and (min-width: 767px) {
    .uv_wrapper {
      background-size: 20%; } }
  .uv_wrapper .uv_inner {
    padding: 50px 0px 100px; }
    @media screen and (min-width: 767px) {
      .uv_wrapper .uv_inner {
        padding: 75px 0px 150px; } }
    .uv_wrapper .uv_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .uv_wrapper .uv_inner .content_title {
          margin-bottom: 75px; } }
  .uv_wrapper .card_contents .card_content {
    box-shadow: none; }
    .uv_wrapper .card_contents .card_content .user_name {
      margin-bottom: 21.5px;
      font-size: 20px;
      text-align: center;
      line-height: 1;
      font-weight: bold; }
      @media screen and (min-width: 767px) {
        .uv_wrapper .card_contents .card_content .user_name {
          font-size: 30px;
          margin-bottom: 22.5px; } }
    .uv_wrapper .card_contents .card_content .card_title {
      height: 86.5px;
      margin-bottom: 15px; }
      @media screen and (min-width: 767px) {
        .uv_wrapper .card_contents .card_content .card_title {
          margin-bottom: 22.5px;
          height: 133px; } }
      .uv_wrapper .card_contents .card_content .card_title h3 {
        font-size: 22.5px;
        line-height: 1.7; }
        @media screen and (min-width: 767px) {
          .uv_wrapper .card_contents .card_content .card_title h3 {
            font-size: 33.75px; } }
    .uv_wrapper .card_contents .card_content .card_img {
      margin-bottom: 19.75px; }
      @media screen and (min-width: 767px) {
        .uv_wrapper .card_contents .card_content .card_img {
          margin-bottom: 22.5px; } }

.os_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%; }
  @media screen and (min-width: 767px) {
    .os_wrapper {
      background-size: 20%; } }
  .os_wrapper .os_inner {
    padding: 50px 0px 100px; }
    @media screen and (min-width: 767px) {
      .os_wrapper .os_inner {
        padding: 75px 0px 150px; } }
    .os_wrapper .os_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .os_wrapper .os_inner .content_title {
          margin-bottom: 75px; } }
  .os_wrapper .card_contents {
    margin-bottom: 100px; }
    .os_wrapper .card_contents .card_content .card_title {
      margin-bottom: 15px; }
      @media screen and (min-width: 767px) {
        .os_wrapper .card_contents .card_content .card_title {
          margin-bottom: 22.5px; } }
      .os_wrapper .card_contents .card_content .card_title h3 {
        font-size: 27px; }
        @media screen and (min-width: 767px) {
          .os_wrapper .card_contents .card_content .card_title h3 {
            font-size: 33.75px; } }
  .os_wrapper .long_card_contents .card_content .card_inner {
    padding: 25px 0px 50px; }
    @media screen and (min-width: 767px) {
      .os_wrapper .long_card_contents .card_content .card_inner {
        padding: 44.75px 0px 75px; } }
    .os_wrapper .long_card_contents .card_content .card_inner .card_content_title {
      font-size: 22.5px;
      margin: 5px auto 50px;
      width: 96.6%;
      font-weight: 800; }
      @media screen and (min-width: 767px) {
        .os_wrapper .long_card_contents .card_content .card_inner .card_content_title {
          margin: 7.5px auto 78px;
          font-size: 33.75px;
          letter-spacing: 3.46px; } }
      .os_wrapper .long_card_contents .card_content .card_inner .card_content_title span {
        width: 101px;
        display: inline-block; }
        @media screen and (min-width: 767px) {
          .os_wrapper .long_card_contents .card_content .card_inner .card_content_title span {
            width: 156px; } }
        .os_wrapper .long_card_contents .card_content .card_inner .card_content_title span img {
          width: 100%; }
    .os_wrapper .long_card_contents .card_content .card_inner .inner_content {
      margin-bottom: 57.5px; }
      @media screen and (min-width: 767px) {
        .os_wrapper .long_card_contents .card_content .card_inner .inner_content {
          margin-bottom: 86.25px; } }
      .os_wrapper .long_card_contents .card_content .card_inner .inner_content .card_title {
        margin-bottom: 15px; }
        @media screen and (min-width: 767px) {
          .os_wrapper .long_card_contents .card_content .card_inner .inner_content .card_title {
            margin-bottom: 19px; } }
        .os_wrapper .long_card_contents .card_content .card_inner .inner_content .card_title h3 {
          font-size: 22.5px; }
          @media screen and (min-width: 767px) {
            .os_wrapper .long_card_contents .card_content .card_inner .inner_content .card_title h3 {
              font-size: 33.75px; } }
      .os_wrapper .long_card_contents .card_content .card_inner .inner_content .card_img {
        margin: 0px;
        box-shadow: 6px 6px 6px #00000029; }
    .os_wrapper .long_card_contents .card_content .card_inner .no-bottom {
      margin-bottom: 0px; }

.or_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_01.png");
  background-repeat: repeat;
  background-size: 54%;
  overflow: hidden; }
  @media screen and (min-width: 767px) {
    .or_wrapper {
      background-size: 20%; } }
  .or_wrapper .or_inner {
    padding: 50px 0px; }
    @media screen and (min-width: 767px) {
      .or_wrapper .or_inner {
        padding: 75px 0px 0px; } }
    .or_wrapper .or_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .or_wrapper .or_inner .content_title {
          margin-bottom: 150px; } }
  .or_wrapper .or_text_content {
    position: relative; }
    .or_wrapper .or_text_content .bg_content {
      position: absolute;
      height: 116%;
      top: 44%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; }
      @media screen and (min-width: 767px) {
        .or_wrapper .or_text_content .bg_content {
          top: 46%;
          height: 107%; } }
    .or_wrapper .or_text_content .or_text_inner {
      width: 86.6%;
      max-width: 650px;
      margin: 0 auto;
      position: relative;
      z-index: 2; }
      .or_wrapper .or_text_content .or_text_inner p {
        font-size: 17.5px;
        line-height: 2.5;
        color: #000000;
        font-weight: bold;
        text-align: left; }
        @media screen and (min-width: 767px) {
          .or_wrapper .or_text_content .or_text_inner p {
            text-align: center;
            font-size: 24px; } }
      .or_wrapper .or_text_content .or_text_inner .large_text {
        font-size: 26px;
        line-height: 2.3;
        padding-bottom: 50px;
        font-weight: 800; }
        @media screen and (min-width: 767px) {
          .or_wrapper .or_text_content .or_text_inner .large_text {
            font-size: 39px;
            padding-bottom: 75px; } }
      .or_wrapper .or_text_content .or_text_inner .text_add_bottom__50 {
        padding-bottom: 50px; }
        @media screen and (min-width: 767px) {
          .or_wrapper .or_text_content .or_text_inner .text_add_bottom__50 {
            padding-bottom: 75px; } }
      .or_wrapper .or_text_content .or_text_inner .text_add_bottom__100 {
        padding-bottom: 100px; }
        @media screen and (min-width: 767px) {
          .or_wrapper .or_text_content .or_text_inner .text_add_bottom__100 {
            padding-bottom: 150px; } }

.wwd_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%;
  overflow: hidden; }
  @media screen and (min-width: 767px) {
    .wwd_wrapper {
      background-size: 20%; } }
  .wwd_wrapper .wwd_inner {
    padding: 50px 0px 100px; }
    @media screen and (min-width: 767px) {
      .wwd_wrapper .wwd_inner {
        padding: 75px 0px 150px; } }
    .wwd_wrapper .wwd_inner .content_title {
      margin-bottom: 100px; }
      @media screen and (min-width: 767px) {
        .wwd_wrapper .wwd_inner .content_title {
          margin-bottom: 150px; } }
  .wwd_wrapper .wwd_text_content {
    position: relative; }
    .wwd_wrapper .wwd_text_content .bg_content {
      position: absolute;
      height: 128%;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      display: block; }
      @media screen and (min-width: 767px) {
        .wwd_wrapper .wwd_text_content .bg_content {
          display: none; } }
    .wwd_wrapper .wwd_text_content .wwd_text_inner {
      width: 86.6%;
      max-width: 650px;
      margin: 0 auto 44px;
      position: relative;
      z-index: 2; }
      @media screen and (min-width: 767px) {
        .wwd_wrapper .wwd_text_content .wwd_text_inner {
          margin: 0 auto 66px; } }
      .wwd_wrapper .wwd_text_content .wwd_text_inner p {
        font-size: 17.5px;
        line-height: 2.5;
        color: #000000;
        font-weight: bold;
        text-align: left; }
        @media screen and (min-width: 767px) {
          .wwd_wrapper .wwd_text_content .wwd_text_inner p {
            text-align: center;
            font-size: 24px; } }
      .wwd_wrapper .wwd_text_content .wwd_text_inner .midium_text {
        font-size: 22.5px;
        line-height: 2.2; }
        @media screen and (min-width: 767px) {
          .wwd_wrapper .wwd_text_content .wwd_text_inner .midium_text {
            font-size: 41.25px; } }
        .wwd_wrapper .wwd_text_content .wwd_text_inner .midium_text span {
          width: 25.53%;
          display: inline-block;
          max-width: 143.61px; }
          .wwd_wrapper .wwd_text_content .wwd_text_inner .midium_text span img {
            width: 100%; }
      .wwd_wrapper .wwd_text_content .wwd_text_inner .text_add_bottom__48 {
        padding-bottom: 48px; }
      .wwd_wrapper .wwd_text_content .wwd_text_inner .text_add_bottom__50 {
        padding-bottom: 50px; }
      .wwd_wrapper .wwd_text_content .wwd_text_inner .font-bold {
        font-weight: 800; }
  .wwd_wrapper .bottom_arrow img {
    display: block;
    margin: 0 auto;
    width: 9.2%;
    max-width: 52.25px; }
  .wwd_wrapper .card_contents {
    margin: 50px 0px 100px;
    display: block; }
    @media screen and (min-width: 1400px) {
      .wwd_wrapper .card_contents {
        margin: 75px 0px 150px;
        display: flex;
        justify-content: space-evenly; } }
    @media screen and (min-width: 1400px) {
      .wwd_wrapper .card_contents .is-pc_no-bottom {
        margin-bottom: 0px; } }
    @media screen and (min-width: 1400px) {
      .wwd_wrapper .card_contents .card_content__noink {
        width: 27%;
        max-width: 375px;
        margin: 0px; } }
    @media screen and (min-width: 767px) {
      .wwd_wrapper .card_contents .card_content__noink .card_title h3 {
        font-size: 30.75px; } }
  .wwd_wrapper .attention_card {
    width: 92.3%;
    max-width: 650px;
    background-color: #F9F9F9;
    border-radius: 50px;
    margin: 0 auto;
    display: block; }
    @media screen and (min-width: 1400px) {
      .wwd_wrapper .attention_card {
        background-color: transparent; } }
    .wwd_wrapper .attention_card .attend_inner {
      width: 92.3%;
      margin: 0 auto 100px;
      padding: 25px 0px 52.5px; }
      @media screen and (min-width: 1400px) {
        .wwd_wrapper .attention_card .attend_inner {
          margin: 0 auto 150px;
          padding: 0px; } }
      .wwd_wrapper .attention_card .attend_inner .font-red {
        font-size: 22.5px;
        color: #FF0000;
        padding-bottom: 25px;
        line-height: 1.7;
        text-align: center;
        font-weight: 800;
        letter-spacing: 3.46px; }
        @media screen and (min-width: 767px) {
          .wwd_wrapper .attention_card .attend_inner .font-red {
            font-size: 33.75px;
            padding-bottom: 37.5px; } }
      .wwd_wrapper .attention_card .attend_inner .detail_text {
        font-size: 14px;
        color: #3C3C3C;
        line-height: 1.8;
        width: 96.6%;
        margin: 0 auto;
        display: block;
        letter-spacing: 2.46px; }
        @media screen and (min-width: 767px) {
          .wwd_wrapper .attention_card .attend_inner .detail_text {
            width: 72%;
            font-size: 21px;
            text-align: center;
            line-height: 2.6; } }
  .wwd_wrapper .comparison_img {
    width: 92.3%;
    max-width: 650px;
    margin: 0 auto;
    display: block; }

.vision_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_01.png");
  background-repeat: repeat;
  background-size: 54%;
  overflow: hidden; }
  @media screen and (min-width: 767px) {
    .vision_wrapper {
      background-size: 20%; } }
  .vision_wrapper .vision_inner {
    padding: 50px 0px 100px; }
    @media screen and (min-width: 767px) {
      .vision_wrapper .vision_inner {
        padding: 67.5px 0px 150px; } }
    .vision_wrapper .vision_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .vision_wrapper .vision_inner .content_title {
          margin-bottom: 150px; } }
  .vision_wrapper .vision_text_content {
    position: relative; }
    .vision_wrapper .vision_text_content .bg_content {
      position: absolute;
      height: 116%;
      top: 51%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; }
    .vision_wrapper .vision_text_content .vision_text_inner {
      width: 86.6%;
      max-width: 650px;
      margin: 0 auto;
      position: relative;
      z-index: 2; }
      .vision_wrapper .vision_text_content .vision_text_inner p {
        font-size: 17.5px;
        line-height: 2.5;
        color: #000000;
        font-weight: bold;
        text-align: left; }
        @media screen and (min-width: 767px) {
          .vision_wrapper .vision_text_content .vision_text_inner p {
            text-align: center;
            font-size: 24px; } }
      .vision_wrapper .vision_text_content .vision_text_inner .large_text {
        font-size: 34.5px;
        line-height: 1.7;
        padding-bottom: 50px; }
        @media screen and (min-width: 767px) {
          .vision_wrapper .vision_text_content .vision_text_inner .large_text {
            font-size: 51.75px;
            padding-bottom: 51.75px; } }
      .vision_wrapper .vision_text_content .vision_text_inner .midium_text {
        font-size: 22.5px;
        line-height: 2.6; }
        @media screen and (min-width: 767px) {
          .vision_wrapper .vision_text_content .vision_text_inner .midium_text {
            font-size: 33.75px; } }
      .vision_wrapper .vision_text_content .vision_text_inner .semi-midium_text {
        font-size: 27.5px;
        line-height: 2.2; }
        @media screen and (min-width: 767px) {
          .vision_wrapper .vision_text_content .vision_text_inner .semi-midium_text {
            font-size: 41.25px; } }
        .vision_wrapper .vision_text_content .vision_text_inner .semi-midium_text span {
          width: 43.3%;
          max-width: 244px;
          display: inline-block; }
          .vision_wrapper .vision_text_content .vision_text_inner .semi-midium_text span img {
            width: 100%; }
      .vision_wrapper .vision_text_content .vision_text_inner .text_add_bottom__61 {
        padding-bottom: 61px; }
      .vision_wrapper .vision_text_content .vision_text_inner .text_add_bottom__50 {
        padding-bottom: 50px; }
      .vision_wrapper .vision_text_content .vision_text_inner .font-bold {
        font-weight: 800; }

.point_wrapper {
  width: 100%;
  display: block;
  background-image: url("../assets/img/default/bg_02.png");
  background-repeat: repeat;
  background-size: 54%; }
  @media screen and (min-width: 767px) {
    .point_wrapper {
      background-size: 20%; } }
  .point_wrapper .point_inner {
    padding: 50px 0px; }
    @media screen and (min-width: 767px) {
      .point_wrapper .point_inner {
        padding: 100px 0px 200px; } }
    .point_wrapper .point_inner .content_title {
      margin-bottom: 50px; }
      @media screen and (min-width: 767px) {
        .point_wrapper .point_inner .content_title {
          margin-bottom: 75px; } }
  .point_wrapper .card_contents {
    margin-bottom: 100px;
    display: block; }
    @media screen and (min-width: 1399px) {
      .point_wrapper .card_contents {
        margin-bottom: 0px;
        display: flex;
        justify-content: space-evenly; } }
    @media screen and (min-width: 1400px) {
      .point_wrapper .card_contents .is-pc_no-bottom {
        margin-bottom: 0px; } }
    @media screen and (min-width: 1400px) {
      .point_wrapper .card_contents .card_content {
        width: 27%;
        max-width: 375px;
        margin: 0px; } }
    @media screen and (min-width: 767px) {
      .point_wrapper .card_contents .card_content .card_title h3 {
        font-size: 36px; } }
    .point_wrapper .card_contents .color-red-text {
      margin-top: 25px;
      color: #FF0000;
      line-height: 1.9;
      font-size: 14px;
      letter-spacing: 2.16px; }
    .point_wrapper .card_contents .is-sp {
      display: block; }
      @media screen and (min-width: 1400px) {
        .point_wrapper .card_contents .is-sp {
          display: none; } }
  .point_wrapper .color-red-text {
    margin-top: 25px;
    color: #FF0000;
    line-height: 1.9;
    font-size: 14px;
    letter-spacing: 2.16px; }
    @media screen and (min-width: 1400px) {
      .point_wrapper .color-red-text {
        margin-top: 15px;
        font-size: 21.75px;
        text-align: center;
        width: 27%;
        max-width: 375px;
        float: right;
        height: 53px;
        padding-right: 5%; } }
  .point_wrapper .is-pc {
    display: none; }
    @media screen and (min-width: 1400px) {
      .point_wrapper .is-pc {
        display: block; } }

.top_wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 4.12vw; }
  @media screen and (max-width: 1440px) {
    .top_wrapper {
      margin-top: 5.12vw; } }
  @media screen and (max-width: 767px) {
    .top_wrapper {
      margin-top: 0px; } }
  .top_wrapper img {
    width: 100%; }
  .top_wrapper .top_inner {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47%;
    left: 50%;
    display: none; }
    @media screen and (max-width: 767px) {
      .top_wrapper .top_inner {
        display: block; } }
